
#addTime{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    align-items: center;
   
    gap: 10px;
    height: 100%;
    justify-items: center;
    div
    {
        color: white;
        padding: 1em;
        text-align: center;
    }

}

#addRow{
    grid-column: 2/-1;
    span{
        font-size: 5em;
    }
}

#dateTag{
    font-size: 22px;
}

#plusSign{
    cursor: pointer;
}

#result{
    grid-column: 2/-1;
}