#caesar {
  display: grid;
  height: 100vh;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "plainDiv            .       encryptedText"
    "stepDiv              icon    . "
    "encryptedDiv    .      plainText";
}

#plainDiv {
  grid-area: plainDiv;
  align-self: center;
}

#icon {
  grid-area: icon;
  color: white;
  span {
    font-size: 150px;
  }
}

#stepDiv {
  grid-area: stepDiv;
  align-self: center;
}

#encryptedText {
  grid-area: encryptedText;
}

#plainText{
  grid-area: plainText;
}

#encryptedDiv{
  grid-area: encryptedDiv;
}

/*
#addIcon {
  span {
    font-size: 100px;
  }
  color: white;
  grid-area: addIcon;
}
*/